.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #808080;
  background-color: #3daaf3e3;
}

.hitted-ship {
  width: 30px;
  height: 30px;
  background-color: #e41313;
}

.missed {
  width: 30px;
  height: 30px;
  background-color: #808080;
}

.game-end {
  width: 30px;
  height: 30px;
  background-color: #afabab;
}